Hi ${firstName}, Welcome to Devanga community
 	Are you ready to get started ?
 	This is OTP generated to register user in Devanga Community. Please enter this OTP in web application  
<p>
		${link}
<p>
